 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*MAIN CSS*/
/*CSS FOR NAVIGATION*/
nav {
	text-align: right;
	padding: 10px 0;
	margin: 6px 0;
	position: relative;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0;
	font-family: sans-serif;
	}

nav li {
	display: inline-block;
	margin: 0px 4px;
}


nav a {
	text-decoration: none;
	color: black;
	font-size: 0.80em;
	
}

nav a:hover {
	text-decoration: underline;
}

#sign_in {
	color: white;
	background-color: #4285f4;
	height: 30px;
	width: 80px;
	font-family: arial;
	font-weight: bold;
	border: none;
	margin: 10px 15px;
	box-shadow: 1px 1px 1px #888888;
}

#app {
	margin-top: 10px;
	margin-bottom: -8px;
	opacity: .55;
}
#app:hover {
	opacity: .99;

}

body {
	overflow: hidden;
}

/*SEARCH INPUT CSS*/
#search {
	width:100%;
	padding: 10px;
	position: absolute;
	top: 150px;
	left: 320px;
	list-style: none;
}

/*GOOGLE IMAGE CSS*/
#google_logo {
	margin-left: 180px;
	
}

/*search box css*/
#textarea {
	width: 590px;
	margin: 10px 0;
	padding: 6px;
	border: 1px solid #ccc;	
	display: block;
	background: url('../img/mic.png') no-repeat right;
	opacity: .69;
}

/*img[src*="mic"] {*/
#textarea:hover {
	border-color: #bbb;
	opacity: .99;
}

input[type="text"].enabled {
	border: 1px solid blue;
}

/*search button css*/
.button {
	margin: 10px 8px;
	height: 28px;
	position: absolute;
	left: 180px;
	font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid #dcdcdc;
	border-color: rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	color:  #444 !important;
	background-color: #f1f1f1;
}

.button:hover {
	box-shadow: 1px 1px 1px #888888;
}

#button2 {
	left: 330px;
}


#lang {
	margin-top: 78px;
	margin-left: 115px;
	font-size: 14px;
	padding: 0 6px;
}

#lang a {
	text-decoration: none;
	color: #12c;
}

#lang a:hover {
	text-decoration: underline;
}

/*FOOTER CSS*/
.footer {
	background-color: #eeeeee;
	width: 100%;
	position: absolute;
	bottom: 0;
}

	
#rightdiv {
	margin: 10px 15px;
	float: right;
	display: inline;
	font-family: arial, sans-serif;	
	font-size: 13px;
}

.footer_left {
	margin-right: 5px;
}

.footer_right {
	margin-right: 22px;
}

#leftdiv {
	margin: 10px 10px;
	display: inline-block;	
	font-family: arial, sans-serif;
	font-size: 13px;
}

div a {
	text-decoration: none;
	color: gray;
	font-weight: thick;
}

div a:hover {
	text-decoration: underline;
}


/*********************************
 MEDIA QUERIES
*********************************/
@media screen and (max-width: 1024px) {
	/*SEARCH INPUT CSS*/
#search {
	width:100%;
	padding: 10px;
	position: absolute;
	top: 165px;
	left: 195px;
}

/*search box css*/
#textarea {
	width: 520px;
	margin-left: 50px;	
}

.button {
	height: 30px;
	font-size: 11px;
	margin-left: 20px;
}

#lang {
	margin-top: 78px;
	margin-left: 115px;
	font-size: 14px;
	padding: 0 4px;
}

#lang a {
	color: blue;
	text-decoration: none;
}

#lang a:visited {
	color: #609;
}

#lang a:hover {
	text-decoration: underline;
}

}

/*********************************
 MEDIA QUERIES
*********************************/
@media screen and (max-width: 768px) {
	/*SEARCH INPUT CSS*/
#search {
	width:100%;
	padding: 10px;
	position: absolute;
	top: 165px;
	left: 55px;
}

#lang {
	margin-top: 78px;
	margin-left: 119px;
	font-size: 14px;
	padding: 0 4px;
}

/*********************************
 MEDIA QUERIES
*********************************/
@media screen and (max-width: 480px) {

/*NAV*/
nav {
	padding-top: 0;
}

#sign_in {
	height: 25px;	
}

/*GOOGLE LOGO*/
#google_logo {
	width: 170px;
	margin-left: 143px;
}

/*SEARCH INPUT CSS*/
#search {
	width:100%;
	padding: 10px;
	position: absolute;
	top: 65px;
	left: 0;
}

#textarea {
	width: 380px;
	margin-left: 32px;
}

.button {
	width: 108px;
	margin-left: -70px;
	margin-top: 2px;
	font-size: 11px;
	font-weight: bold;
}

#lang {
	margin-top: 55px;
	margin-left: 32px;
	font-size: 14px;
	padding: 0 2px;
}

/*FOOTER CSS*/

#rightdiv {
	margin: 10px 15px;
	float: right;
	display: inline;
	font-family: arial, sans-serif;	
	font-size: 13px;
}

.footer_right {
	margin-right: 2px;
}


/*********************************
 MEDIA QUERIES
*********************************/
@media screen and (max-width: 320px) {

/*NAV*/
nav ul {
	padding-top: 0;
	margin-left: 4px;
	margin-right: 2px;
}


/*GOOGLE LOGO*/
#google_logo {
	width: 170px;
	margin-left: 62px;
}

#textarea {
	width: 250px;
	margin-left: 18px;
}

.button {
	width: 105px;
	margin-left: -148px;
	font-size: 11px;
}

#lang {
	margin-top: 65px;
	margin-left: 0;
	margin-right: 20px;
	text-align: center;
	font-size: 13px;
}

/*FOOTER CSS*/

footer {
	margin-left: -8px;
}

.footer_left, .footer_right {
	font-size: 10px;
	margin-right: 5px;
}

#leftdiv {
	margin: 3px 24px;
}

#rightdiv {
	margin-left: 10px 18px;
	font-size: 13px;
}

.footer_right {
	margin-right: 20px;
	padding-left: 0;
	padding-right: 8px;
	/*word-spacing: 1;*/
}

}
 